//
//
//
//
// ====================================================================================
.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 20000;

    &.active {
        display: block;
    }

    .container {
        height: 100%;
    }
}

.modal__body {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.modal__fullscreen {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: $colorBlack;
    opacity: 0.6;
    z-index: 1;
}

.modal__form {
    padding: 80px 60px 60px 60px;
    width: 500px;
    border-radius: 10px;
    background: $colorWhite;
    position: relative;
    display: flex;
    flex-direction: column;
    z-index: 2;
}

.modal__form-exit {
    position: absolute;
    top: 20px;
    right: 30px;
    display: flex;
    justify-content: end;
    cursor: pointer;

    &:hover {
        .modal__form-img {
            background: $colorWhite;

            span::before,
            span {
                background: $colorDD5900;
            }
        }
    }
}

.modal__form-img {
    width: 45px;
    height: 45px;
    border: 2px solid $colorDD5900;
    border-radius: 50%;
    background: $colorDD5900;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s;

    span {
        display: inline-block;
        width: 30px;
        height: 3px;
        background: $colorWhite;
        position: relative;
        transition: 0.3s all;
        transform: rotate(45deg);

        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: $colorWhite;
            transform: rotate(90deg);
            transition: 0.3s all;
        }
    }
}

.modal__form-title {
    margin: auto;
    padding: 0px 0px 30px;
}

.modal__form-title-body {}

.modal__form-input {
    margin: 0px 0px 20px;
    padding: 16px 20px;
    width: 100%;
    display: block;
    background: $colorECE7E2;

    font-family: $famileUbuntu;
    font-size: 15px;
    line-height: 24px;
}

.modal__form-textarea {
    margin: 0px 0px 20px;
    padding: 16px 20px;
    width: 100%;
    display: block;
    resize: none;
    background: $colorECE7E2;

    font-family: $famileUbuntu;
    font-size: 15px;
    line-height: 24px;
}

.modal__form-submit {
    padding: 14px 50px;
    width: 100%;
    border: 2px solid $colorDD5900;
    border-radius: 50px;
    background: $colorDD5900;
    cursor: pointer;
    transition: 0.3s all;

    font-family: $famileUbuntu;
    font-size: 16px;
    line-height: 19px;
    font-weight: 700;
    color: $colorWhite;

    &:hover {
        background: transparent;
        color: $colorDD5900;
    }
}

@media(max-width: 550px) {
    .modal__form {
        padding: 100px 20px 60px;
    }

    .modal__form-exit {
        right: 10px;
    }
}