//
//
//
//
// <Общие настройки слайдеры>========================================================================

/* Слайдер */
.slick-slider {}

/* Слайдер запущен */
.slick-slider.slick-initialized {}

/* Слайдер с точками */
.slick-slider.slick-dotted {}

/* Ограничивающая оболочка */
.slick-list {}

/* Лента слайдов */
.slick-track {
    display: flex;
}

/* Слайд */
.slick-slide {}

/* Слайд активный (показывается) */
.slick-slide.slick-active {}

/* Слайд основной */
.slick-slide.slick-current {}

/* Слайд по центру */
.slick-slide.slick-center {}

/* Клонированный слайд */
.slick-slide.slick-cloned {}

/* Стрелка */
.slick-arrow {}

/* Стрелка влево */
.slick-arrow.slick-prev {}

/* Стрелка вправо */
.slick-arrow.slick-next {}

/* Стрелка не активная */
.slick-arrow.slick-disabled {}

/* Точки (булиты) */
.slick-dots {}

.slick-dots li {}

/* Активная точка */
.slick-dots li.slick-active {}

/* Элемент точки */
.slick-dots li button {}

.slick-dots {
    margin: 35px 0px 0px;
    display: flex;
    justify-content: center;

    li {
        margin: 0px 7px 0px 0px;
        width: 16px;
        height: 16px;
        border: 1px solid $colorWhite;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        transition: 0.3s all;
    }

    .slick-active {
        border: 1px solid $colorBlack;
    }

    button {
        width: 3.75px;
        height: 3.75px;
        border-radius: 50%;
        background: $colorBlack;
        font-size: 0;
    }
}